main {
    margin: 3% 25% 0% 25%;
}

.title {
    margin-top: 10%;
}

.title h1 {
    font-size: 4vmin;
    text-align: center;
}

.start {
    text-align: center;
    margin-top: 30%;
}

.start button {
    font-size: 8vmin;
    background-color: #ffffff;

}

.question {
    text-align: center;

}

.question button {
    font-size: 7vmin;
    background-color: #ffffff;
    margin-top: 10%;
    width: 60%;
}

.result {
    text-align: center;
    margin-top: 20%;
}

.result img {
    height: auto;
    width: 40%;
}